.navi {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.link a {
  color: #000;
  text-decoration: none;
  margin: 20px;
}

.link a:visited {
  color: #000;
}

.link a:hover,
.link a:focus {
  color: #2196f3;
  text-decoration: underline;
}

.link a[class='active'] {
  color: red;
}
